<!DOCTYPE html>

<html>
    <head>
        <title>bootstrap的模板</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script src="__PUBLIC__/js/bootstrap.min.js"></script>
        <link href="__PUBLIC__/by/common.css" rel="stylesheet" type="text/css">
  
    </head>
    <body>

        <div class="container-fluid" style="margin-left: -15px;" >
            <div class="row" >
  

            </div>
            <div class="row" >
                <div class="col-md-12" style="background: green">

                </div>
            </div>
        </div>
    </body>
</html>
