
<html>
    <head>
        <title>Zmore's 黑板报 </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 引入 Bootstrap -->

        <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">

        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script src="__PUBLIC__/js/bootstrap.min.js"></script>

    </head>
    <body>

        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">

                    {include file='PublicTop/index' /}
                    <div class="container">
                        <div class="row clearfix">
                            <div class="jumbotron">
                                <h2>
                                    技术文章
                                </h2>
                                <hr>
                        

                                <div>
                                    {volist name="tarticle" id="vo"}


                                    <ul >
                                        <li ><h3><a href="{:url('detail/index',array('id'=>$vo.id))}">{$vo.title}</a></h3></li>
                                        
                                    </ul>

                                    {/volist}
                                </div>




                            </div>




                        </div>
                    </div>

                </div>
            </div>

        </div>
    </body>
</html>
