<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>博客后台管理系统</title>
    <!-- Bootstrap Styles-->
    <link href="__PUBLIC__/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="__PUBLIC__/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="__PUBLIC__/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="__PUBLIC__/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        {include file='indextop/index' /}

        <!--/. NAV TOP  -->
        {include file='indexside/index' /}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">

                    <div class="row">
                    <div class="col-md-12">
                    <div class="jumbotron">
                        
                        <p>
                            <a class="btn btn-primary btn-lg" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
                </div>
                
				
		
				<footer><p><i class="fa  fa-tag"></i>网站管理系统</p></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="__PUBLIC__/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <script src="__PUBLIC__/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="__PUBLIC__/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="__PUBLIC__/assets/js/morris/morris.js"></script>
	
	
	<script src="__PUBLIC__/assets/js/easypiechart.js"></script>
	<script src="__PUBLIC__/assets/js/easypiechart-data.js"></script>
	
	
    <!-- Custom Js -->
    <script src="__PUBLIC__/assets/js/custom-scripts.js"></script>


</body>

</html>