<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
 <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{:url('index/index')}">主页</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="#">|</a></li>
            <li><a href="{:url('admin/login/index')}">登录</a></li>
            
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    友情链接
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    
                    <li><a href="http://bbs.ichunqiu.com">i春秋</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.freebuf.com/">Freebuf</a></li>
                    <li class="divider"></li>
                    <li><a href="https://zhuanlan.zhihu.com/taosay">道哥的黑板报</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>
</html>
